.additional {
  display: grid;
}

.additional button {
  font: inherit;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.additional button:hover,
.additional button:active {
  background-color: #8a2b06;
  color: white;
}

.additional button:hover span,
.additional button:active span {
  color: #8a2b06;
}

.additional span {
  font-weight: 700;
}

.additional button {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
}

.additional button span {
  line-height: 1rem;
}
