.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: var(--background-color);
}

.header h1 {
  color: var(--action-color);
}

.main-image {
  height: 25rem;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 90%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

@media screen and (max-width: 610px) {
  .header {
    display: grid;
    justify-content: center;
    padding: 3% 0;
  }
}

@media screen and (min-width: 611px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
}
