.counter {
  display: grid;
  justify-content: center;
  text-align: center;
}

.counter button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: #2680eb;
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #2680eb;
  cursor: pointer;
}

.counter button:hover {
  background-color: #095aba;
}

.counter p {
  border: 3px solid #2680eb;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
